ol.news {
    padding-left: 0px;
    margin-left: 0px;
}
ol.news > li {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    border-bottom: 1px solid #cccccc;
}
ol.news > li:last-child {
    border-bottom: none;
}
ol.news h2 a {
    border-bottom: none;
}
ol.news .planetoverflow {
    display: none !important;
}

ol.news .metadata {
    font-style: italic;
}

ol.news .avatar {
    float: right;
    height: 80px;
    width: 60px;
    margin-left: 1em;
    text-align: center;
    font-size: smaller;
    border: none;
}

ol.news .votes {
    text-align: right;
    margin-bottom: 0.5em;
}

ol.news .votes .ui-button-icon-only .ui-button-text,
ul.feeds .button .ui-button-text {
    padding: .1em;
}

ul.feeds {
    margin-left: 0px;
    padding-left: 0px;
}

ul.feeds li {
    margin-bottom: 0.5em;
    position: relative;
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
}

ul.feeds li .buttons {
    position: absolute;
    top: 0px;
    left: 300px;
}

ul.feeds li .feed,
.feeds .button {
    border-bottom: none;
    vertical-align: middle;
}

.twtr-widget a {
    border-bottom: none;
}

/* Main content area */
#drupal_content .section{
    margin-right:10px;
    width:560px;
    float: left;
}

/* Sidebar */
#drupal_content .region .section {
    border:1px solid #CCCCCC;
    margin:1px;
    padding:2px;
    width:180px;
    display: block;
    clear: both;
    margin-bottom: 10px;
}

#drupal_content .region .section li a.feed {
    border-bottom: none;
    vertical-align: middle;
    padding: 0px;
    position: absolute;
    left: 162px;
    margin-top: 2px;
}

.region .section li {
    list-style:none;
    padding-left:5px;
    position: relative;
}

.section form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.section form label input {
    display: block;
    width: 100%;
}

body ul.ui-autocomplete {
    width: 300px;
    margin: 0px;
    padding: 0px;
}

body ul.ui-autocomplete li {
    list-style: none;
}